################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningNetcoreWebApp/.vs/LearningNetcoreWebApp/v16/Server/sqlite3/storage.ide-wal
/LearningNetcoreWebApp/.vs/LearningNetcoreWebApp/v16/Server/sqlite3/storage.ide-shm
