@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Vehicle Search";
}
<h2>@ViewData["Title"]</h2>
<head>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/EasyAutocomplete/jquery.easy-autocomplete.js"></script>
    <link href="~/EasyAutocomplete/easy-autocomplete.css" rel="stylesheet" />
    <script src="~/js/Search.js"></script>
    <style>
        .disabled {pointer-events: all !important;}
        .align { padding-left: 16px; margin-top: -4px; }
        .form-group { padding: 100px;}
    </style>
</head>
<div class="form-group">
    <div class="input-group">        
        <label class="form-check-label font-weight-bold">Enter make</label>&nbsp;
        <div class="d-inline-block align" tabindex="0" data-toggle="tooltip"
              data-placement="right" title="Select Year to Enter Model">
            <input type="text" class="input-group-text" id="txtboxsearch" />
        </div><br/>    
    </div>
</div>
<script type="text/javascript">
    var carInputSelector = $("#txtboxsearch");
    var objCar = new Object();
    carInputSelector.cdk_easyAutocomplete({
            inputField: carInputSelector,
            resultCount: 5,
            source: 2,
            onClear: function () {
                objCar = new Object();
            },
            click: function (event, ui, orgTxt) {
                var selectionValue = carInputSelector.getSelectedItemData().value,
                selectionLabel = carInputSelector.getSelectedItemData().label;
                objCar.Name = formatSpecial(selectionLabel);
                objCar.Id = selectionValue;                
                carInputSelector.blur();                
            },
            afterFetch: function (result) {
                objCar.result = result;
            },
            focusout: function () {
                if ((objCar.Name == undefined || objCar.Name == null || objCar.Name == '') && objCar.result != undefined && objCar.result != null && objCar.result.length > 0) {
                    if (objCar.result[0].label.toLowerCase().indexOf(carInputSelector.val().toLowerCase()) == 0) {
                        objCar.Name = formatSpecial(objCar.result[0].label);
                        objCar.Id = formatSpecial(objCar.result[0].id);
                        tyresHomepage.carRootId = objCar.Id;
                        tyresHomepage.carRootName = objCar.result[0].label;
                        carInputSelector.val(objCar.result[0].label);
                    }
                }
            }
        });    
    
</script>
